@font-face {
    font-family: 'Merienda', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Merienda&family=Raleway:wght@300&display=swap');
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
}
body{
    background-color: rgba($color: #27242400, $alpha: 1.0);
    color: white;
    margin: 0px;
}
.part{
    padding: 20px 90px;
}
.part-title{
    color: #4f5b66;
    font-size: 2em;
    margin-bottom: 30px;
}
a:hover{
    color: rgb(51, 51, 49);
    transition: 0.4s ease ;
}

            // ------------------------------ HOME PART ------------------------------ //

header {
    width: 100%;
    position: fixed;
    background-color: rgba(2, 2, 2, 0.5);
    z-index: 5;
    #navbar{
        .svg-inline--fa {
            display: none;
        }
    }
    ul {
        display: flex;
        li {
            flex-direction: row;
            list-style-type: none;
            padding: 14px 25px;
            font-size: 24px;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
    #link {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        z-index: 1;
        top: 350px;
        left: 15px;

        hr.vertical{
            width: 2px;
            height: 120px;
            color: white;
            border-right: 1px dashed white;
            border-top: 0;
            border-left: 0;
            border-bottom: 0;
        }
    }
    .social{
        font-size: 30px;
        margin: 10px 15px;
        color: whitesmoke;
    }
    .social:hover{
        color: rgb(51, 51, 49);
        transition: 0.4s ease ;
    }
}    
#home{
    background: linear-gradient(to bottom, rgba(0,0,0,0.97),
                rgba(0,0,0,0.0)),
                bottom no-repeat url("../gulp/img/nature2.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 0;

    #home-title{
        h1{
            font-family: 'Raleway', sans-serif;
            margin-top: 12rem;
            font-size: 4em;
        }
        h2{
            text-align: center;
        }
    }
    #home-moreInfo{
        margin-top: 20rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        #home-button{
            text-decoration: none;
            font-weight: bold;
            font-size: 1.2em;
            line-height: 2rem;
            color: rgb(128, 124, 124);
        }
        .fa-chevron-down{
            margin: auto;
            color: rgb(128, 124, 124);
        }
    }
    #home-moreInfo:hover{
        cursor: pointer;
        transform: translateY(-5px);
        transition: 0.4s ease ;
    }
    #home-link{
        float: right;
        position: fixed;
        margin-top: 40rem;
        margin-left: 77rem;  
        a{
            background-color: rgba(37, 31, 31, 0.3);
            color: white;
            border-radius: 50%;
            font-size: larger;
            padding: 1.5em;
        }
        a:hover{
            background-color: rgba(37, 31, 31, 1);  
        }
    }
}

            // ------------------------------ ABOUT PART ------------------------------ //

#about{
    background-color: #0b0b0c;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about-container{
    display: flex;
    flex-direction: row;
    img{
        filter: drop-shadow(5px 5px 55px #313030);
    }
}
#about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 7vw 0 7vw;
    font-size: larger;
    line-height: 2em;
}

            // ------------------------------ PROJECTS PART ------------------------------ //

#projects{
    background-color: #1a191c;
}
#projects-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    

}
.project{
    background-color: #292b2e;
    border: 1px solid rgb(70, 68, 66);
    justify-content: space-between;
    text-align: center;
    border-radius: 10px;
    min-width: 300px;
    margin: 2rem;
    h3{
        font-size: 2em;
    }
    p{
        margin-top: 35px;
    }
    .items{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 70px;
        padding-top: 120px;
        .svg-mongo{
            padding-top: 15px;
        }
        .svg-express{
            padding-top: 15px;
        }
        .svg-js{
            padding-top: 15px;
        }
        .fa-sass{
            font-size:3em;
            padding-top: 20px;
            color: rgb(335, 13, 79);
        }
        .fa-gulp{
            font-size:3em;
            padding-top: 20px;
            width: 65px;
            color: red;
        }
        .fa-php{
            font-size:3em;
            padding-top: 20px;
            color: rgb(31, 95, 233);
        }
        .fa-wordpress{
            font-size:3em;
            padding-top: 20px;
            color: rgb(31, 87, 207);
        }
        .fa-react{
            font-size:3em;
            padding-top: 20px;
            color: rgb(22, 101, 190);
        }
        .fa-node-js{
            font-size:3em;
            padding-top: 20px;
            width: 65px;
            color: rgb(30, 228, 23);
        }
    }
    .project-link-container{
        display: flex;
        justify-content: space-around;
        margin: 3rem 0rem;
        a{
            color: rgb(192,197,206);
            font-size: 1.5em;
        }
        .project-link-git{
            &:hover > .fa-folder-open{
                display: block;
            }
            &:hover > .fa-folder{
                display: none;
            }
        }
        .fa-folder-open{
            display: none;
        }
        .project-link-net{
            &:hover > .fa-sign-out-alt{
                display: block;
            }
            &:hover > .fa-sign-in-alt{
                display: none;
            }
        }
        .fa-sign-out-alt{
            display: none;
        }
    }
}
.project:hover{
    border: 1px solid #0085dd;
    transform: scale3d(1.1, 1.1, 1.1);
    transition: all 0.5s ease ;
    box-shadow: -5px 5px 10px 10px #000000;
}
            // ------------------------------ CONTACT PART ------------------------------ //

#contact, footer{
    background-color: #0b0b0c;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact{
    height: 90vh;
}
#contacts-container{
    display: flex;
    flex-direction: row;
}
#contacts-container-left, #contacts-container-right{
    width: 50%;
}
#contacts-container-left{
    padding-left: 50px;
}
.contact-box{
    background-color: rgba(255,255,255,0.06);
    border-right: 0.7px solid #0085dd;
    border-bottom: 0.7px solid #0085dd;
    border-radius: 45px 0px 45px;    
    text-align: center;
    margin: 20px;
    padding: 10px;
    width: 250px;
    h4{
        color: #4f5b66;
        font-size: 1.2em;
        margin-top: 5px;
    }
    a{
        color: white;
        text-decoration: none;
        font-size: 1.2em;
    }
}
.contact-box:hover{
    transform: translateX(30px);
    transition: all 1s ease;
    background-color: rgb(167,173,186);
    a{
        color: #0085dd;
    }
}

#contacts-container-right{
    text-align: center;
    h3{
        font-size: 2em;
    }
}
#contacts-container-right-button{
    display: flex;
    justify-content: space-evenly;
    a{
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: none;
        padding: 5px 10px;
        background-color: #0085dd;
        border-radius: 50px;
    }
}
footer{
    text-align: center;
    p{
        margin: 0;
        padding: 20px 0px;
    }
}

            // ------------------------------ MEDIA QUERIES ------------------------------ //

@media only screen and (max-width: 450px) {

.part {
    padding: 20px 30px;
}
.part-title{
    color: #4f5b66;
    font-size: 1.5em;
    margin-bottom: 15px;
}
header{
    background-color: transparent;
    #navbar{
        .svg-inline--fa {
            display: none;
        }
    }
    #navbar{
        ul{
            display: none;
        }
    }
    #navbar.active {
        display: block;
        position: fixed;
        flex-direction: column;
        background-color: black;
        opacity: 70%;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding: 0;
        ul{
            display: block;
        }
        li {
            margin:1.5rem 0;
        }
    }
    #hambIcon {
        color: white;
        font-size: 20px;
        margin: 25px 15px;
        display: block;
        cursor: pointer;
        width: 25px;
    }
    #link {
        opacity:0;
        position: fixed;
        top: 363px;
        left: 10px;
        hr.vertical {
            border: 0;
            border-right-color: currentcolor;
            border-right-style: none;
            border-right-width: 0px;
            border-right: 1px dashed #fff;
            color: #fff;
            height: 35px;
            width: 2px;
        }
        svg {
            font-size: 20px;
        }
    } 
    #link.active{
        opacity: 1;
        top: 45px;
        left: 350px
    }
}

#home{
    #home-moreInfo{
        margin-top: 11rem;
    }
    #home-title{
        h1 {
            font-size: 2em;
            margin-top: 16rem;
            text-align: center;
        }
        h2 {
            font-size: 1em;
        }
        text-align: center;
        padding: 1em;
    }
}
#home-button{
    margin-top: 100px;
}
#about{
    height: auto;
} 
#about-container{
    display: flex;
    flex-direction: column;
    img{
        margin: auto;
        width: 150px;
        height: 200px;
    }
    #about-text {
        text-align: left;
        font-size: 1em;
        line-height: 1em;
    }
}
.project{
    min-width: 227px;
}
#contacts-container {
    display: flex;
    flex-direction: column;
}
#contacts-container-left, #contacts-container-right{
    width: 100%;
}
#contacts-container-left{
    padding: 0;
    .contact-box{
        background-color: #c5cad5;
    }
}
#contacts-container-right{
    h3 {
        font-size: 1.5em;
    }
} 
#contacts-container-right-button a {
    background-color: #0085dd;
    border-radius: 50px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    padding: 10px 31px;
    text-decoration: none;   
}
}
